spring:
  config:
    activate:
      on-profile: deploy

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  
logging:
  level:
    root: warn

cors:
  allowed-origins: "https://develop.bacinf.com", "https://treetory.co.kr"