spring:
  config:
    activate:
      on-profile: local

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:sql/data.sql

    
cors:
  allowed-origins: "http://localhost:3000"
