name: CD
on:
  push:
    branches: ["main", "develop"]
    paths-ignore:
      - '**.md'

permissions:
  contents: read
  packages: write
  
concurrency:
  group: deploy-${{ github.ref_name }}
  cancel-in-progress: false
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    environment:
      name: ${{ github.ref_name == 'main' && 'prod' || 'dev' }}
      url: ${{ steps.set-server-url.outputs.server_url }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set Server Url
        id: set-server-url
        run: |
          echo "server_url=${{ vars.SERVER_URL }}" >> $GITHUB_OUTPUT

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: 'gradle'

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Gradle Build
        run: ./gradlew clean build -PserverUrl=${{ vars.SERVER_URL }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login GHCR
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with: 
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ vars.GHCR_REPO_NAME }}:latest
            ghcr.io/${{ github.repository_owner }}/${{ vars.GHCR_REPO_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        uses: appleboy/ssh-action@master
        with: 
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            ${{ secrets.SCRIPT_DIR }} ${{ vars.GHCR_REPO_NAME }} ${{ github.sha }}