name: CI
on:
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
    paths-ignore:
      - '**.md'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with: 
          java-version: 21
          distribution: corretto
          cache: 'gradle'
      
      - name: Grant Execute Permission
        run: chmod +x gradlew
      
      - name: Gradle Build
        run: ./gradlew build -PserverUrl=${{ secrets.SERVER_URL }}
