name: ci.yml
on:
  pull_request: 
    types:
      - opened
      - synchronize
    branches:
      - main
      - develop
  
  push: 
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with: 
          java-version: 21
          distribution: corretto
          cache: 'gradle'
      
      - name: Grant Execute Permission
        run: chmod +x gradlew
      
      - name: Gradle Build
        run: ./gradlew clean build -PserverUrl=${{ secrets.SERVER_URL }}
