name: ci.yml
on:
  pull_request: 
    types:
      - opened
      - synchronize
    branches:
      - main
      - develop
  
  push: 
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with: 
          java-version: 21
          distribution: corretto
          cache: 'gradle'
      
      - name: Grant Execute Permission
        run: chmod +x gradlew
      
      - name: Gradle Build
        run: ./gradlew clean build -PserverUrl=${{ secrets.DEV_SERVER_URL }}
      
      - name: Set up Docker Buildx
        if: github.event_name == 'push'
        uses: docker/setup-buildx-action@v3
      
      - name: Login Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and Push Docker Image
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with: 
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/treetory:latest
            ${{ secrets.DOCKER_USERNAME }}/treetory:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
      - name: Deploy
        if: github.event_name == 'push'
        uses: appleboy/ssh-action@master
        with: 
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            /home/bacinf/treetory/deploy.sh